{{ if eq .chezmoi.os "linux" -}}
# vim: filetype=sh.chezmoitmpl
{{ template "linux/install-packages.sh.tmpl" . -}}
{{ else if eq .chezmoi.os "darwin" -}}
{{ template "darwin/install-packages.sh.tmpl" . -}}
{{ end -}}
