{{ if eq .chezmoi.os "windows" -}}
# vim: ft=ps1.chezmoitmpl

{{ range .packages.windows.winget -}}
winget install --ID {{ . | quote }}
{{ end -}}

{{- template "cargo-install.sh.tmpl" . }}

{{- template "golang-install.sh.tmpl" . }}

{{- template "mise-install.sh.tmpl" . }}

{{ end -}}

