# vim: filetype=toml.gotexttmpl
encryption = "age"
[age]
command = "rage"
identity = "~/.config/age/rage-key.txt"
recipients = "age15nrnkq2tlj8vyfpxwqnh2rwkknayqavd66620m93ukzrpjge6etq4twspy"

{{ $email := promptString "email" -}}

umask = 0o022

[onepassword]
prompt = true

[diff]
exclude = ["scripts"]
pager = "delta"

[merge]
command = "nvim"
args = [
  "-d",
  "{{ "{{" }} .Destination {{ "}}" }}",
  "{{ "{{" }} .Source {{ "}}" }}"
  # "{{ "{{" }} .Target {{ "}}" }}"
]

[data]
email = {{ $email | quote }}
go_version = "1.22.5"

{{- if eq .chezmoi.os "windows" }}
[interpreters.ps1]
command = "pwsh"
args = ["-NoLogo"]
{{- end }}

{{- if eq .chezmoi.os "darwin" }}
[[textconv]]
pattern = "**/*.plist"
command = "plutil"
args = ["-convert", "xml1", "-o", "-", "-"]
{{- end }}
