#!/usr/bin/env sh
# vim: filetype=sh.chezmoitmpl
# Install Rust

if ! program_loc="$(which "rustup")" || [ "$program_loc" = "" ]; then
  echo "LINUX: installing Rustup"
  curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh
else
  echo "LINUX: Updating Rust"
  rustup update
fi

go_version={{ .go_version | quote }}

echo "LINUX: Installing Deps"
# Install Go
if ! program_loc="$(which "go")" || [ "$program_loc" = "" ]; then
  echo "LINUX: Installing Golang"
  wget "https://go.dev/dl/go$go_version.linux-amd64.tar.gz"
  sudo rm -rf /usr/local/go && sudo tar -C /usr/local -xzf go"$go_version".linux-amd64.tar.gz
  rm -rf go1.22.3.linux-amd64.tar.gz
fi

# Add the key for the 1Password apt repository:

if ! program_loc="$(which "op")" || [ "$program_loc" = "" ]; then
  echo "LINUX: Installing 1Password"
  curl -sS https://downloads.1password.com/linux/keys/1password.asc | sudo gpg --dearmor --output /usr/share/keyrings/1password-archive-keyring.gpg

  # Add the 1Password apt repository:
  echo 'deb [arch=amd64 signed-by=/usr/share/keyrings/1password-archive-keyring.gpg] https://downloads.1password.com/linux/debian/amd64 stable main' | sudo tee /etc/apt/sources.list.d/1password.list

  # Add the debsig-verify policy:
  sudo mkdir -p /etc/debsig/policies/AC2D62742012EA22/
  curl -sS https://downloads.1password.com/linux/debian/debsig/1password.pol | sudo tee /etc/debsig/policies/AC2D62742012EA22/1password.pol
  sudo mkdir -p /usr/share/debsig/keyrings/AC2D62742012EA22
  curl -sS https://downloads.1password.com/linux/keys/1password.asc | sudo gpg --dearmor --output /usr/share/debsig/keyrings/AC2D62742012EA22/debsig.gpg

  # Create a directory to store APT repository keys if it doesn't exist:

  sudo install -d -m 0755 /etc/apt/keyrings
fi

if ! program_loc="$(which "firefox")" || [ "$program_loc" = "" ]; then
  echo "LINUX: Installing Firefox"
  # Import the Mozilla APT repository signing key:

  wget -q https://packages.mozilla.org/apt/repo-signing-key.gpg -O- | sudo tee /etc/apt/keyrings/packages.mozilla.org.asc > /dev/null

  # The fingerprint should be 35BAA0B33E9EB396F59CA838C0BA5CE6DC6315A3. You may check it with the following command:
  gpg -n -q --import --import-options import-show /etc/apt/keyrings/packages.mozilla.org.asc | awk '/pub/{getline; gsub(/^ +| +$/,""); if($0 == "35BAA0B33E9EB396F59CA838C0BA5CE6DC6315A3") print "\nThe key fingerprint matches ("$0").\n"; else print "\nVerification failed: the fingerprint ("$0") does not match the expected one.\n"}'

  # Next, add the Mozilla APT repository to your sources list:
  echo "deb [signed-by=/etc/apt/keyrings/packages.mozilla.org.asc] https://packages.mozilla.org/apt mozilla main" | sudo tee -a /etc/apt/sources.list.d/mozilla.list > /dev/null

  # Configure APT to prioritize packages from the Mozilla repository:
  echo '
  Package: *
  Pin: origin packages.mozilla.org
  Pin-Priority: 1000
  ' | sudo tee /etc/apt/preferences.d/mozilla

fi

if ! program_loc="$(which "terraform")" || [ "$program_loc" = "" ]; then
  echo "LINUX: Installing terraform"
wget -O- https://apt.releases.hashicorp.com/gpg | sudo gpg --dearmor -o /usr/share/keyrings/hashicorp-archive-keyring.gpg
echo "deb [signed-by=/usr/share/keyrings/hashicorp-archive-keyring.gpg] https://apt.releases.hashicorp.com $(lsb_release -cs) main" | sudo tee /etc/apt/sources.list.d/hashicorp.list
sudo apt update && sudo apt install terraform
fi
# Update your package list and install the Firefox .deb package:
sudo apt update

if ! program_loc="$(which "op")" || [ "$program_loc" = "" ]; then
  sudo apt install 1password 1password-cli
fi

if ! program_loc="$(which "firefox")" || [ "$program_loc" = "" ]; then
  sudo apt install firefox
fi
