#!/usr/bin/env sh
# vim: filetype=sh.chezmoitmpl
# Install Rust

if ! program_loc="$(which "rustup")" || [ "$program_loc" = "" ]; then
  echo "LINUX: installing Rustup"
  curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh
else
  echo "LINUX: Updating Rust"
  rustup update
fi

go_version={{ .go_version | quote }}

echo "LINUX: Installing Deps"
# Install Go
if ! program_loc="$(which "go")" || [ "$program_loc" = "" ]; then
  echo "LINUX: Installing Golang"
  wget "https://go.dev/dl/go$go_version.linux-amd64.tar.gz"
  sudo rm -rf /usr/local/go && sudo tar -C /usr/local -xzf go"$go_version".linux-amd64.tar.gz
  rm -rf go1.22.3.linux-amd64.tar.gz
fi

# Add the key for the 1Password apt repository:

if ! program_loc="$(which "op")" || [ "$program_loc" = "" ]; then
  echo "LINUX: Installing 1Password"
  sudo rpm --import https://downloads.1password.com/linux/keys/1password.asc
  sudo zypper -n addrepo https://downloads.1password.com/linux/rpm/stable/x86_64 1password
  sudo zypper -n install 1password

fi

