#!/usr/bin/env sh

sudo zypper -n install {{ list .packages.linux.apt | join " " | trimAll "[]" }}

# spacer

{{ template "cargo-install.sh.tmpl" . }}

{{ template "golang-install.sh.tmpl" . }}

{{ template "mise-install.sh.tmpl" . }}
