#!/usr/bin/env bash
# vim: filetype=sh
# Install Rust

if ! program_loc="$(which "rustup")" || [ "$program_loc" = "" ]; then
  echo "DARWIN: installing Rustup"
  curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh
else
  echo "DARWIN: Updating Rust"
  rustup update
fi

go_version={{ .go_version | quote }}

echo "DARWIN: Installing Deps"
# Install Go
if ! program_loc="$(which "go")" || [ "$program_loc" = "" ]; then
  echo "DARWIN: Installing Golang"
  wget "https://go.dev/dl/go$go_version.darwin-arm64.tar.gz"
  sudo rm -rf /usr/local/go && tar -C /usr/local -xzf go$go_version.darwin-arm64.tar.gz
  rm -rf go1.22.3.darwin-arm64.tar.gz
fi

# Install Homebrew
echo "DARWIN: Installing Homebrew"
if ! program_loc="$(which "brew")" || [ "$program_loc" = "" ]; then
  NONINTERACTIVE=1 /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
else
  echo "DARWIN: Updating Homebrew"
  brew update
  brew upgrade
fi

