# vim: filetype=toml.chezmoitmpl
[aliases]
# `jj l` shows commits on the working-copy commit's (anonymous) bookmark
# compared to the `main` bookmark
l = ["log", "-r", "(main..@):: | (main..@)-"]
ll = ["log", "-r", "..@", "-n", "15"]

[merge-tools.vimdiff]
merge-args = ["-f", "-d", "$output", "-M",
    "$left", "$base", "$right",
    "-c", "wincmd J", "-c", "set modifiable",
    "-c", "set write"]
program = "nvim"
merge-tool-edits-conflict-markers = true

[signing]
sign-all = true
backend = "ssh"
key = "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIJr6bdGTROIDmIfkQIVWSj1nPf3nv8eEy6/1r1PwGuOm"
## You can also use a path instead of embedding the key
# key = "~/.ssh/id_for_signing.pub"

[signing.backends.ssh]
{{- if eq .chezmoi.os "darwin" }}
program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"
allowed-signers = "/Users/jonathan/.ssh/allowed_signers"
{{- else if eq .chezmoi.os "linux" }}
{{-   if (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}
program = "/mnt/c/Users/jonathan/AppData/Local/1Password/app/8/op-ssh-sign-wsl"
{{-   else }}
program = "/opt/1Password/op-ssh-sign"
{{-   end }}
allowedSignersFile = "/home/jonathan/.ssh/allowed_signers"
{{- else if eq .chezmoi.os "windows" }}
program = 'C:\Users\jonathan\AppData\Local\1Password\app\8\op-ssh-sign.exe'
allowed-signers = "/Users/jonathan/.ssh/allowed_signers"
{{- end }}

[user]
name = "Jonathan Kellenberg"
email = "jonathan@jkellz.dev"

[ui]
editor = "nvim"
# diff-editor = "diffedit3"
default-command = "log"

[ui.diff]
tool = ["difft", "--color=always", "$left", "$right"]

# override user.email if the repository is located under ~/projects/velocibyte
[[--scope]]
--when.repositories = ["~/projects/velocibyte"]
[--scope.user]
email = "jonathan@velocibyte.io"
[--scope.signing]
key = "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIBr56rHIY1wRIHX4OyMxj878xSAY+uDLZrb/JfLQTpMR"
